
* {
    font-family: 'Anonymous Pro', monospace, Verdana, Geneva, Tahoma, sans-serif !important;
}

div {
    font-size: 19px;
}

a {
    color: #aed136 !important;
}

a:hover {
    color: #ed236f !important;
}

a:active {
    color: #aed136 !important;
}

.card-title a {
    font-size: 22px !important;
    color: #aed136 !important;
}

.card-title a:hover {
    color: #ed236f !important;
}


.card {
    border: solid;
    --bs-card-border-width: 1px !important;
    --bs-card-border-color: #aed136 !important;
    box-shadow: 2px 2px #aed136;
}

.card:hover {
    border: solid 1px;
    border-color: #ed236f !important;
    box-shadow: 5px 5px #ed236f, -0.5em 0 .2em rgba(255, 151, 191, 0.494);
}

.card-body {
    border-color: #50b0d5 !important;
    border: solid 0px !important;
}

body {
    background-color: #50b0d5 !important;
    font-size: 19px;
    overflow-x: hidden;
  }

h3 {
    font-size: 40px !important;
    color: white !important;
    font-weight: bold;
}
.title-bars {
    font-size: 60px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.503) !important;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #181815b5;
    border-radius: 0px 0px 100px 100px;
    color: #ed236f;
    display: flex;
    position: relative;
    width: 60%;
}

nav .navbar-nav li a:hover{
    color: #ed236f !important;
    text-shadow: 1px 1px #50b0d5;
}

nav .navbar-nav li a {
    color: #aed136 !important;
    font-family: 'Anonymous Pro', monospace, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 22px;
}

nav .navbar-nav li a:active {
    color: #50b0d5 !important;
}

.collapse {
    justify-content: center;
}

.navbar-toggler {
    border: none !important;
    color: #aed136 !important;
}

.navbar-toggler-icon {
    color: #aed136 !important;
}


/* Logo Handler */
.logo {
    width: 60px;
}

.logo-container {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    width: 15%;
    height: 80px;
    text-align: center;
}

@media (max-width: 600px) {
    .logo {
        width: 50px;
    }
}

/* Logo */

/* shape of nav bar */
.tab {
    margin: 100px;
    position:relative;
    background-color: silver;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-radius: 30px 0px 30px 30px;
    border-radius: 30px 0px 30px 30px;
}

/* Centers divs */
.center-text {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.center-image {
    text-align: center;
}

.content-box {
    padding-top: 80px;
    padding-bottom: 80px;
}

section {
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}


.blue-section {
    overflow: hidden;
}

.blue-section-2 {
    overflow-x: hidden;
    z-index: -99;
    background: radial-gradient(circle, rgba(80,176,213,1) 0%, rgba(70,166,203,1) 53%, rgba(162,229,255,1) 100%);
}



.div-img-mid-section-left {
    position: absolute;
    text-align: right;
    width: 100%;
}

.img-mid-section-left {
    position: relative;
    z-index: -99;
    top: -430px;
    right: 30%;
}




.div-img-mid-section-right {
    position: relative;
    z-index: -99;
    left: 70%;
}

.img-mid-section-right {
    position: absolute;
    top: -70px;
}


.green-section {
    background-color: #aed136 !important;
}

/* added this so page won't shift after message is sent div-form */
#div-form {
    height: 321px;
}

.black-section {
    background-color: #272822;
    color: white;
    box-shadow: 0px 0px 20px 10px #34819f;
}

.profile-img {
    z-index: 99;
    width: 100%;
    text-align: left;
    
}

.profile-img img {
    width: 240px;
    border-radius: 50%;
    box-shadow: 5px 5px 0px 2px #aed136;
}


.footer {
    align-items: center;
    align-content: center;
    background-color: #ed236f;
}

.grid-top {
    display: grid;
    max-width: 1200px;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding: 0px 40px 0px 40px;
}


.grid-project {
    display: grid;
    max-width: 1200px;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    padding: 0px 30px 0px 30px;
}
@media (max-width: 1000px) {
    .grid-top {
        grid-template-columns: 1fr;
    }

    .profile-img {
        text-align: center;
    }

    .profile-img img {
        width: 200px;
    }
}



/* top section art */


/* Dynamic Insertions */

.user-location, .weather_phrase {
    color: #ed236f;
    font-weight: bold;
    font-size: 21px;
}
/*-------------------*/

.top-section {
    height: 490px;
    width: 100%;
}

.top-section-container {
    position: relative;
    display: flex;
    top: -40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.section1-img {
    position: relative;
    height: 590px;
}

.user-greeting {
    position: absolute;
    width: 428px;
    top: 119px;
    font-size: 23px !important;
    background-color: #272822;
    padding: 30px;
    color: white !important;
    height: 242px;
}


@media (max-width: 1000px) {

    .user-location, .weather_phrase {
        color: #ed236f;
        font-weight: bold;
        font-size: 16px;
    }

    .top-section {
        height: 360px;
        width: 100%;
    }
    
    .top-section-container {
        position: relative;
        display: flex;
        top: 10px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    
    .section1-img {
        position: relative;
        height: 380px;
    }
    
    .user-greeting {
        position: absolute;
        width: 280px;
        height: 200px;
        top: 70px;
        font-size: 17px !important;
        background-color: #272822;
        color: white !important;
        padding: 15px 15px 0px 15px;
    
    }
}


/* MID GEARS */

.gear_1 {
    position: absolute;
    min-width: 300px;
    max-width: 500px;
    margin-left: clamp(90px, 15%, 500px);
    text-align: left;
}

.gear_1_img{
    position: relative;
    width: 40%;
    max-width: 200px;
    top: -80px;
    left: 20px;
    animation:spin 15s linear infinite;
}
.gear_2_img{
    position: relative;
    width: 30%;
    max-width: 160px;
    top: 30px;
    left: -40px;
    animation:spin2 15s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@media (max-width: 1000px) {
    .gear_1 {
        position: relative;
        background-color: #34819f;
        max-width: 1200px;
    }

    .gear_1_img{
        position: absolute;
        min-width: 100px;
        max-width: 125px;
        top: 130%;
        left: -40px;
    }
    .gear_2_img{
        position: absolute;
        min-width: 75px;
        max-width: 100px;
        top: 70px;
        left: 5px;
    }
}